@media (min-width: 860px) {
  .content-main {
    padding-top: 20%;
  }
  
}

@media (max-width: 860px) {
  .menuToggle {
    display: block;
  }
  header.sticky {
    padding: 5px;
  }
  header .navigation {
    display: none;
  }
  .content-main {
    display: block;
  }
  .text-main,
  .my-image {
    margin: 50px;
  }
  .main {
    height: 100vh;
  }
}
@media (max-width: 690px) {
  .content-main {
    padding-top: 35%;
  }
  .imagesProjects .image,
  .imagesProjects .descrition {
    width: 350px;
    margin: 10px;
  }
  .knowledge-technology,
  .other-knowledges {
    width: clamp(350px, 350px, 600px);
  }
}
