@media (min-width: 860px) {
  .content-main {
    padding-top: 16%;
  }
}

@media (max-width: 860px) {
  .menuToggle {
    display: block;
  }
  header.sticky {
    padding: 5px;
  }
  header .navigation {
    display: none;
  }
  .content-main {
    display: block;
    padding-top: 35%;

  }

  .text-main,
  .my-image {
    width: 100%;
    padding: 40px;
  }
}
@media (max-width: 690px) {
  .imagesProjects .image,
  .imagesProjects .descrition {
    width: 350px;
    margin: 10px;
  }
  .knowledge-technology,
  .other-knowledges {
    width: clamp(350px, 350px, 600px);
  }
}
