* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 100;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.main,
#about-me,
#projects,
#contact,
#knowledge,
footer {
  background-color: #02081b;
  color: #ececec;
}

header {
  width: 100vw;
  position: fixed;
  z-index: 999;
  background-color: #02081b;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.menu-toggle {
  color: #9343fe;
  font-size: 2.5em;
  display: none; /* Oculta o menu hambúrguer por padrão */
}

.top-nav {
  display: flex;
  list-style-type: none;
  font-size: 1.3em;
  text-transform: uppercase;
}

.top-nav li {
  margin-right: 20px;
}

.top-nav a {
  text-decoration: none;
  color: #fff;
}

.top-nav a:hover {
  color: #9343fe;
}

/* Estilo do menu hambúrguer */
@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .top-nav {
    display: none; /* Esconde a lista de navegação em telas menores */
  }

  .menu-toggle {
    display: block; /* Mostra o menu hambúrguer em telas menores */
    cursor: pointer;
  }

  .nav.active .top-nav {
    margin: 0 auto;
    display: block; /* Mostra a lista de navegação ao abrir o menu hambúrguer */
  }
  .nav.active .top-nav li {
    padding: 10px;
  }
}

.main {
  width: 100vw;
  text-align: center;
}

.content-main {
  display: flex;
  align-items: center;
}

.text-main h1 {
  font-size: 2.5em;
  margin-bottom: 12px;
}

.text-main,
.my-image {
  width: 50%;
  padding: 0px 20px;
}

.main .my-image img {
  width: clamp(250px, 275px, 300px);
  opacity: 0.5;
  border-radius: 50% 20%;
  border-bottom: 4px solid #9343fe;
  border-top: 4px solid #065cfa;
  cursor: pointer;
  transition: border-color 0.3s; /* Adiciona transição para suavizar a animação */
}

.main .my-image img:hover {
  border-color: #6f00ff;
}

button.btn {
  background-color: #6c00fa;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

button.btn:hover {
  background-color: #4b04a8;
}

button.btn a {
  color: white;
  text-decoration: none;
}
/* Sobre */
#about-me {
  padding-top: 100px;
}

.about {
  width: 100%;
  line-height: 25px;
  color: #a6a7ab;
  text-align: center;
}

.about h1 {
  padding: 20px 0px;
}

.about-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.about-container span {
  font-weight: 900;
}

.about-container i {
  font-size: 20px;
}

.about-container-one,
.about-container-two,
.about-container-three {
  width: 300px;
  padding: 20px;
  border: 1px solid #a6a7ab;
  border-radius: 20px;
  margin: 25px;
}

.about .about-text {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

.about .contacts ul li {
  display: flex;
}

.btn {
  margin-top: 10px;
}

.btn a,
.card a {
  text-decoration: none;
}

.btn a {
  color: #fff;
}

.btn button {
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: #9343fe;
}

/*ANIMAÇÂO*/

.bi-bug {
  font-size: 2em;
  color: #a6a7ab9a;
  position: absolute;
  left: 80%;
  top: 80%;
  animation: move 0.8s infinite alternate;
}

.bi-bug:hover {
  color: #3ef53e9d;
}

.bi-filetype-js {
  color: #a6a7ab94;
  position: absolute;
  left: 20%;
  top: 30%;
}

.bi-filetype-js:hover {
  color: #ff7b00de;
}

@keyframes move {
  30% {
    transform: rotate(10deg);
  }
}

/* FIM ANIMAÇÂO */

#knowledge {
  padding: 5% 0%;
}

.my-knowledges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.knowledge-technology,
.other-knowledges {
  width: clamp(350px, 490px, 600px);
  padding: 30px;
  border: 1px solid #a6a7ab;
  border-radius: 20px;
  margin-top: 20px;
}

.knowledge-technology ul li,
.other-knowledges ul li {
  display: flex;
}
.knowledge-technology ul li p,
.other-knowledges ul li p {
  margin-left: 15px;
}
#knowledge h1,
#projects h1 {
  align-items: center;
  text-align: center;
  margin: 110px 0px;
}

#projects {
  padding: 5%;
}

.projects-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.projects-container img {
  width: 100%;
  border-radius: 12px;
}

.project {
  width: 400px;
  border: 1px solid #a6a7ab;
  border-radius: 20px;
  padding: 35px;
  margin-top: 20px;
}

.project h3 {
  padding: 20px;
}
.project .links-projects {
  display: flex;
}

.project .links-projects a {
  text-decoration: none;
  color: inherit;
}

.project .links-projects button {
  width: 150px;
  padding: 8px;
  margin: 10px;
  border-radius: 20px;
  border: none;
}

.project .links-projects button,
.project .links-projects button a{
  font-weight: 500;

}

.project .links-projects button:hover,
.view{
  background-color: #9343fe;
  color: #fff;
}

#contact {
  width: 100%;
  padding: 20px;
}

#contact .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#contact .cards .card {
  width: 250px;
  padding: 20px;
  margin-top: 10px;
  background: #f7f7f7;
  color: #252525;
  border-radius: 10px;
  border-bottom: 3px solid #6c00fa;
  text-align: center;
  line-height: 30px;
}

#contact .cards .card .header i {
  font-size: 1.3em;
  display: block;
  color: #9343fe;
}

#contact .cards .card .header span{
  font-weight: 500;
}

#contact .cards .card p,
#contact .cards .card a {
  color: #4b04a8;
  font-weight: 500;
  cursor: pointer;
}

#contact .cards .card p:hover,
#contact .cards .card a:hover,
.links-contact li a:hover {
  color: #9443fe80;
  transition: 0.3s ease;
}

#contact {
  padding: 100px 0px;
}

#projects .info {
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer .links-contact ul {
  display: flex;
  justify-content: center;
}

footer .links-contact ul li {
  margin: 20px;
  font-size: 1.5em;
}

footer .links-contact ul li a {
  color: #e4e2e2;
}
